[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
aiohttp = "*"
lxml = "*"
httpx = "*"
kafka-python = "*"
aiokafka = "*"

[dev-packages]

[requires]
python_version = "3.10"
